<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="PrintReportPath" value="C:\Users\Sairam\source\repos\cravikumar\GSTInvoiceBilling - Roopesh\GST_InvoiceApplication\GST_InvoiceApplication"/>
      <add key="ConnectionString" value="C:\Users\Sairam\source\repos\cravikumar\GSTInvoiceBilling - Roopesh\GST_InvoiceApplication\GST_InvoiceApplication\GST.mdb"/>
      <add key="ConnectionStringWeek1" value="C:\Users\SAIRAM\Documents\Visual Studio 2013\\Projects\GST_InvoiceApplication\GST_InvoiceApplication\GSTWeek1.mdb"/>
    <add key="ConnectionStringWeek2" value="C:\Users\SAIRAM\Documents\Visual Studio 2013\\Projects\GST_InvoiceApplication\GST_InvoiceApplication\GSTWeek2.mdb"/>
      <add key="isAutoCompleteEnabled" value="true"/>
      <add key="PricePredictionEnabled" value="true"/>
      <add key="DriveClientId" value="49588927530-r4nbmm11rvmcftdlugihs46m3klss9p4.apps.googleusercontent.com"/>
      <add key="DriveClientSecret" value="6CeiaTu3pgIH81DAyM_P3K9z"/>
      <add key="TallyConnection" value="DSN=TallyODBC_9000"/>
      <add key="TallyQuery" value="SELECT $Name,$PartyGSTIN FROM Ledger"/>
      <add key="TaxPercent" value="5"/>
      <add key="Key" value="248976176"/>
      <add key="ComputerName" value="WHENKEY"/>
      <add key="Check" value="83"/>
   </appSettings>
    <connectionStrings>
        <add name="ApplicationForm.Properties.Settings.CMSMDataNewConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\GST.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="GSTINVOICE.Properties.Settings.GSTConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GST.mdb"
            providerName="System.Data.OleDb" />
        <add name="GST_InvoiceApplication.Properties.Settings.AccountFilesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AccountFiles.accdb"
            providerName="System.Data.OleDb" />
        <add name="GST_InvoiceApplication.Properties.Settings.GSTConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GST.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>